# Bonus: Temperature Analysis I

In [25]:
import pandas as pd
from datetime import datetime as dt
from dateutil.parser import parse

In [26]:
# "tobs" is "temperature observations"
temp_analysisdf = pd.read_csv('Resources/hawaii_measurements.csv')
temp_analysisdf.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [27]:
#check columns
temp_analysisdf.columns

Index(['station', 'date', 'prcp', 'tobs'], dtype='object')

In [28]:
# df_revised=df.from('Resources/hawaii_measurements.csv',index_col=False)
hawaii_df = pd.read_csv('Resources/hawaii_measurements.csv', index_col=False)
hawaii_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [29]:
hawaii_df.columns

Index(['station', 'date', 'prcp', 'tobs'], dtype='object')

In [30]:
# Convert the date column format from string to datetime
hawaii_df['date']= pd.to_datetime(hawaii_df['date'], infer_datetime_format = True)
hawaii_df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [31]:
# Set the date column as the DataFrame index
hawaii_df=hawaii_df.set_index(hawaii_df['date'])
hawaii_df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73
...                 ...        ...   ...   ...
2017-08-19  USC00516128 2017-08-19  0.09    71
2017-08-20  USC00516128 2017-08-20   NaN    78
2017-08-21  USC00516128 2017-08-21  0.56    76
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [33]:
# Drop the date column
hawaii_df = hawaii_df.drop(columns='date')
hawaii_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [34]:
from scipy import stats

In [39]:
# Filter data for desired months
june_data =hawaii_df[hawaii_df.index.month ==6]
june_data

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [40]:
# Filter data for December month
december_data =hawaii_df[hawaii_df.index.month ==12]
december_data

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [45]:
# Identify the average temperature for June
ave_june_temp = june_data['tobs'].mean()
ave_june_temp

74.94411764705882

In [44]:
# Identify the average temperature for December
ave_december_temp = december_data['tobs'].mean()
ave_december_temp

71.04152933421226

In [47]:
# Create collections of temperature data
june_temps = june_data['tobs']
june_temps.head()

date
2010-06-01    78
2010-06-02    76
2010-06-03    78
2010-06-04    76
2010-06-05    77
Name: tobs, dtype: int64

In [49]:
# Create collections of temperature data
decemeber_temps =december_data['tobs']
decemeber_temps

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [52]:
# Run paired t-test
stats.ttest_ind(june_temps,decemeber_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis